
<link rel="stylesheet" href="/style/user/sidebar.css">

<div class="col-lg-3 col-md-4 sidebar">
    <div class="sidebar-header">
        <h2><i class="fas fa-user-circle me-2"></i>My Account</h2>
    </div>
    <div class="sidebar-menu"  >
        <a href="/Profile" >
            <i class="fas fa-user  "></i>Account Details
        </a>
        <a href="/address" class="active">
            <i class="fas fa-map-marker-alt"></i>Address
        </a>
        <a href="/orders" >
            <i class="fas fa-box-open "></i>Orders
        </a>
        <a href="/wishlist">
            <i class="fas fa-heart "></i>Wishlist
        </a>
        <a href="/cart">
            <i class="fas fa-shopping-cart "></i>Cart
        </a>
        <a href="/wallet">
            <i class="fas fa-wallet "></i>Wallet
        </a>
        <a href="mycoupons">
            <i class="fas fa-tag "></i>My Coupons
        </a>
        <a href="#" onclick="confirmLogout(event)" class="logout-btn">
            <i class="fas fa-sign-out-alt me-2"></i>Logout
        </a>
    </div>
    </div>